<ion-tabs>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>בית</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calendar" href="/tabs/calendar">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>לוח שנה</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="expenses" href="/tabs/expenses">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>הוצאות</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tasks" href="/tabs/tasks">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>משימות</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>פרופיל</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
